@model Paginate<AdvertVM>
@{
    ViewData["Title"] = "Index";
    int take = ViewBag.take;
    int changeCount = (Model.CurrentPage - 1) * take + 1;
}



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="grid-margin stretch-card">
                
                <div class="card">
                    <div class="card-body">
                       
                        <a asp-action="Create" class="btn btn-inverse-success btn-fw">Create</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Datas)
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/assets/images/@item.Image" alt="image" style="width:100px; height:100px; border-radius:0%" />
                                            </td>
                                            <td>
                                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-inverse-primary btn-fw">Info</a>
                                                 <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-inverse-warning btn-fw">Edit</a>
                                                <form method="post" asp-action="Delete" asp-route-id="@item.Id" style="display:inline-block">                                                  
                                                   <button type="submit" class="btn btn-inverse-danger btn-fw">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation example" style="padding-top: 18px;">
                <ul class="pagination justify-content-center">
                
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item  @(Model.CurrentPage == i ? "disabled" : "") ">
                            <a asp-action="Index" asp-route-page="@i"><span class="page-link">@i</span></a>
                        </li>
                    }
                </ul>
                
            </nav>
        </div>           
               

    </div>


    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
        </div>
    </footer>
    <!-- partial -->
</div>

